<div class="flex p-1 space-x-1 w-max">
  @for (tab of tabs(); track tab.id) {
    <button
      class="flex items-center gap-2 px-3 py-2 transition-all duration-200 ease-in-out rounded-md"
      [ngClass]="{
        'bg-primary text-primary-foreground shadow-md': activeTabIndex() === tab.id,
        'hover:bg-muted': activeTabIndex() !== tab.id,
      }"
      (click)="setActiveTab(tab.id)"
      (keydown.enter)="setActiveTab(tab.id)"
      tabindex="0"
    >
      <img [src]="tab.icon" [alt]="tab.name" class="w-4 h-4" />
      <span class="hidden sm:inline">{{ tab.name }}</span>
      <span
        class="hidden sm:inline"
        (click)="removeTab(tab.id)"
        (keydown.enter)="removeTab(tab.id)"
        tabindex="0"
        class="w-4 h-4 transition-opacity opacity-0 group-hover:opacity-100 hover:text-destructive"
        (click)="removeTab(tab.id)"
      ></span>
    </button>
  } @empty {
    <p class="text-muted">No tabs open.</p>
  }
</div>
