<div class="relative h-screen text-white bg-gray-800" [style.width.px]="sidebarWidth()">
  <button
    class="absolute p-1 bg-gray-600 border border-solid rounded-full hover:border-lime-600 top-1/2 -right-[20px] z-10"
    appDraggable
    (dragging)="onDragging($event)"
  >
    <img src="svgs/resize-icon.svg" alt="Resize" class="w-8 h-auto" />
  </button>
  <ul class="p-4">
    @for (folder of folders(); track folder.id) {
      <li class="mb-2">
        <div
          (click)="toggleFolder(folder)"
          (keydown)="handleKeydown($event, folder)"
          tabindex="0"
          class="flex items-center cursor-pointer"
        >
          <span class="mr-2">{{ folder.expanded ? '-' : '+' }}</span>
          {{ folder.name }}
        </div>
        @if (folder.expanded) {
          <ul class="mt-2 ml-4">
            <ng-container
              *ngTemplateOutlet="
                recursiveList;
                context: { $implicit: folder.subfolders, files: folder.files }
              "
            ></ng-container>
          </ul>
        }
      </li>
    }
  </ul>

  <ng-template #recursiveList let-subfolders let-files>
    @for (subfolder of subfolders; track subfolder.id) {
      <li class="mb-2">
        <div
          (click)="toggleFolder(subfolder)"
          (keydown)="handleKeydown($event, subfolder)"
          tabindex="0"
          class="flex items-center cursor-pointer"
        >
          @if (subfolder.files.length > 0 || subfolder.subfolders.length > 0) {
            <span class="mr-2">{{ subfolder.expanded ? '-' : '+' }}</span>
          } @else {
            <span class="mr-2"></span>
          }
          {{ subfolder.name }}
        </div>
        @if (subfolder.expanded > 0) {
          <ul class="mt-2 ml-4">
            <ng-container
              *ngTemplateOutlet="recursiveList; context: { $implicit: subfolder.subfolders }"
            ></ng-container>
          </ul>
        }
      </li>
    }
    @for (file of files; track file.id) {
      <li class="mb-2">
        <div
          (click)="openFile(file)"
          (keydown)="handleKeydown($event, file)"
          tabindex="0"
          class="flex items-center cursor-pointer"
        >
          <span class="mr-2">{{ file.name }}</span>
        </div>
      </li>
    }
  </ng-template>
</div>
