<div
  class="flex items-center justify-between gap-2 p-2 text-white bg-gray-800 rounded-lg shadow-md"
  role="toolbar"
  aria-label="Toolbar with actions"
>
  @for (toolbar of toolbarItems(); track toolbar.id) {
    <button
      class="flex items-center justify-center p-1 bg-white rounded-md grow group hover:bg-emerald-300 disabled:opacity-50"
      (click)="executeAction(toolbar.action)"
      [title]="toolbar.label + ' state'"
      aria-label="Save current state"
    >
      <img src="svgs/{{ toolbar.icon }}.svg" alt="Save" class="w-5 h-5 group-hover:fill-white" />
    </button>
  }
</div>
